.img-1{
    width: 80%;
}
section{
    display: flex;
    background-color: rgba(255, 255, 0, 0.295);
    background-repeat: no-repeat;
}
.text-1{
    background-color: rgba(252, 59, 25, 0.212);
    margin: 150px 30px 0px 30px ;
    padding: 20px;
    height: 60%;  
}
.y-colour{color:navy;}